body{
	background-color: rgb(232, 237, 240);
	margin: 0;
	padding: 0;
}

nav div h1{
   color: #fafafa;
}

::-webkit-input-placeholder {
   color: #fafafa;
}
 
:-moz-placeholder { 
   color: #fafafa;  
}
 
::-moz-placeholder {  
   color: #fafafa;  
}
 
:-ms-input-placeholder {  
   color: #fafafa;  
}

.rodape{
   background-color: #222222;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   height: 40px;
   
}

body h1{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.formulario{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 3.3em;
 }

/* .NavCor li a{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
} */

.campo{
   height: 50px;
}

/* .rodape p{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #fff;
   margin-top: 10px;
   height: 5px;
   margin-right: 10px;
} */

/* .corFundo{
   color: rgb(255, 255, 255);
   background-color: black;
   text-align: center;
   height: 70px;
   padding: 10px;
} */

.botao{
   margin-left: 85%;
}



.info{
   margin-top: 30px;
   border-radius: 10px;
   border: 20px; 
}

.info h1{
   font-size: 33px
}

.deslogar{
   margin-top: 80px;
   justify-items: center;
}

.nav-item :hover{
   background: rgb(197, 13, 13);
}

/* .conteudo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
} */

.div_select{
   margin: 0 auto;
   width: 550px;
   height: 300px;
   
   overflow: auto;
   
 }

 .tabela_select td,
 .tabela_select_dados td {
   border: none;
   padding: 20px;
   text-align: center;
 }

 .tabela_select_dados tr:nth-child(1){
   font-weight: bold;
   background-color: #3DC9B3;
 }

 .tabela_select_dados tr:nth-child(even) {
   background-color: #c1eccc;
 }

h5{
   display: inline-block;
   color: #C1ECCC;
}

@media (max-width: 991px){
   .main_menu .main-menu-item ul li .nav-link {
      color: #111;
    }
}

@media screen and (min-width: 70px) and (max-width: 556px){

      .rodape{
         background-color: black;
         color:white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 35px;
         height: 50px;
      
      }

   }
