a:hover,
a:focus {
    color: #3dc9b3;
}

#navigation {
	border-bottom: 4px solid #3dc9b3;
}

.top-nav-collapse {
	background: #3dc9b3;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #3dc9b3;
}




