body{
	background-color: rgb(232, 237, 240);
	margin: 0;
	padding: 0;
}

nav div h1{
   color: #fafafa;
}

::-webkit-input-placeholder {
   color: #fafafa;
}
 
:-moz-placeholder { 
   color: #fafafa;  
}
 
::-moz-placeholder {  
   color: #fafafa;  
}
 
:-ms-input-placeholder {  
   color: #fafafa;  
}

.rodape{
   background-color: #222222;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   height: 40px;
   
}

body h1{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.formulario{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 3.3em;
 }

.NavCor li a{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.campo{
   height: 50px;
}

.rodape p{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #fff;
   margin-top: 10px;
   height: 5px;
   margin-right: 10px;
}

.corFundo{
   color: rgb(255, 255, 255);
   background-color: black;
   text-align: center;
   height: 70px;
   padding: 10px;
}

.botao{
   margin-left: 85%;
}



.info{
   margin-top: 30px;
   border-radius: 10px;
   border: 20px; 
}

.info h1{
   font-size: 33px
}

.deslogar{
   margin-top: 80px;
   justify-items: center;
}

.nav-item :hover{
   background: rgb(197, 13, 13);
}

.conteudo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}


td{
	margin-left: 10px;
	width: 351px;
}


@media screen and (min-width: 70px) and (max-width: 556px){

      .rodape{
         background-color: black;
         color:white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 35px;
         height: 50px;
      
      }

   }
